<div class="row d-flex justify-content-center mt-5">
<div class="col-md-6">
    <div class="text-bg-white d-flex flex-row p-2 rounded border border-dark">
       <img src="<%= @quote.image %>" class="img-fluid w-50" alt="<%= @quote.content %>">
         <p class="p-3"><%=@quote.content%></p>
    </div>
    <a href="/quotes/index" class="btn btn-primary mt-3">Back</a>
</div>
</div>